.topView1{
    height: 100vh;
    width: 100%;
}
.topView{
    height:auto; overflow:auto;
    width: 100%;
    background-color: #DCDCDC;
    position: relative;
}
#doctorsLabel{
    color: #2196F3;
}
.doctorView{
    float: top;
    left: 280px;
    height: 102vh;
    background-color: #DCDCDC;
    width: 1268px;
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    background-color: #DCDCDC;
    top: 50px
}
.grid-item{
    position: relative;
    height: 200px;
    left: 20px;
    width: 400px;
    top: 20px;
    
}
.doctorBlock1 {
    position: relative;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 20px 20px 20px;
    width: 300px;
    height: 100px;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    left: 20px;
    background-color: #fff;
}
.blockImage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.blockCountLabelDiv{
    float: right;
    padding: 0;
    height: 60px;
    width: 200px;
    position: absolute;
    top:0px;
    right: 0px;
}
.blockLabelDoctors{
    float: left;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 500; 
    text-align: left;
    width: 200px;
}