#appointmentsLabel{
    color: #2196F3;
}
#patientLabel{
    color: #2196F3;
}
.pageHeader{
    left: 270px;
    position: absolute;
    height: 40px;
    width: 500px;
    top:90px;
}
.pageHeaderLabel{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 500; 
    text-align: left;
}