#appointmentsLabel{
    color: #2196F3;
}
#patientLabel{
    color: #2196F3;
}
.pageHeader{
    left: 270px;
    position: absolute;
    height: 40px;
    width: 500px;
    top:90px;
}
.pageHeaderLabel{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 500; 
    text-align: left;
}
.listViewOuterView{
    position: absolute;
    top:150px;
    right: 0%;
    height: 75%;
    width: 1268px;
    scroll-behavior: smooth;
    
}
.list{
    display: block;
}
.olClass{
    float: left;
    width: 50px;
    background-color: green;
    position: relative;
    left: 10px;
}
.liClass{
    float: left;
    width: 1000px;
    height: 82px;
    background-color: grey;
}
.listDiv1{
    float: left;
    width: 200px;
    height: 80px;
    background-color: #fff;
    
}
.listLabel{
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 600; 
}
