
.topView1{
}
#appointmentsLabel{
    color: #2196F3;
}
#patientLabel{
    color: #2196F3;
}
.pageHeader{
    left: 270px;
    position: absolute;
    height: 40px;
    width: 500px;
    top:90px;
}
.addEditView{
    right: 50px;
    position: absolute;
    height: 40px;
    width: 300px;
    top:90px;
    background-color: #2196F3;
    border-radius: 20px;
    
}
.addEditImageView{
    position: absolute;
    height: 30px;
    left:5px;
    top:4px;
}
#addEditButton{
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    width: 200px;
    left: 30px;
}
.pageHeaderLabel{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 250px;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 500; 
    text-align: center;
    top:5px;
}
.listViewOuterView{
    position: absolute;
    top:150px;
    right: 0%;
    height: 80%;
    width: 80%;
    left:18%;
    
}
.list{
    position: absolute;
    width: 100%;
}
.olClass{
    width: 50px;
    left: 0px;
    position: absolute;
}
.listDiv2{
    float: left;
    position: relative;
    left: 40px;
    width: 200px;
    height: 60px;
    
}
.liClass{
    float: left;
    width: 100%;
    position: relative;
    height: 420px;
    overflow: scroll;
    scroll-behavior: auto;
}
.liClass1{
    width: 100%;
    position: relative;
    height: 420px;
    overflow: scroll;
    overflow-x: scroll;
}
.liClass2{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.listDiv1{
    float: left;
    width: 155px;
    height: 59px;
    
}

.seprator{
    position: absolute;
    top:21px;
    left: 0px;
    height: 1px;
    background-color: grey;
    width: 100%;
}
.seprator1{
    position: absolute;
    left: 0px;
    top:79px;
    height: 1px;
    background-color: grey;
    width: 100%;
}
.listLabel{
    width: auto;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 600; 
    top:10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
